@import '~antd/dist/antd.css';

.side{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0,
}

.logo {
  height: 50px;
  margin: 15px 10px 8px 10px;
  color:white;
  font-size:18pt;
  overflow: hidden;
}

.left200{
  left: 200px;
}

.left80{
  left: 80px;
}

.header-style{
  position:fixed;
  background:white;
  z-index: 5;
  right:0px;
  height:52px;
  padding: 0;
  border-bottom: solid 1px #d9d9d9;
  float:left;
}

.header-style > h1{
  text-align: center;
  line-height: 52px;;
  font-size: 26pt;
  color: #002766;
  font-family: 'Times New Roman';
  font-weight: bolder;
}

.trigger {
  font-size: 18px;
  line-height: 56px;
  padding: 0 15px;
  cursor: pointer;
  float:left;
}

.footer-style{
  text-align: center;
  background-color: white;
  height: 60px;
  padding: 15px;
  border-top: solid 1px #d9d9d9;
  font-size: 14pt;
  font-family: 'Times New Roman';
  font-weight: bolder;
  color:#595959;
}