@import '~antd/dist/antd.css';

.side{
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0,
}

.logo {
  height: 50px;
  margin: 15px 10px 8px 10px;
  color:white;
  font-size:18pt;
  overflow: hidden;
}

.left200{
  margin-left: 200px;
}

.left80{
  margin-left: 80px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.h1-title{
  text-align: center;
  font-size: 28pt;
  color:#002766;
}