@import '~antd/dist/antd.css';

 .span-text{
    margin-left: 10px;
    color:#bfbfbf;
 }

 .banner{
    font-size: 18pt;
    color:#002766;
    margin:0px;
    margin-top:-10px;
    margin-bottom:10px;
 }

 .div-style{
   padding-top: 24px;
   border: solid 2px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: white;
 }

 .float-left{
    float:left;
 }

 .shader{
    position: absolute;
    left:0px;
    top:0px;
    float:left;
    text-align: center;
 }
 .shader >h1{
    margin-top: 82px;
    font-size: 36pt;
    font-weight: bold;
    line-height: 32pt;
    color:white;
 }

 .shader-blue{
   background-color: rgba(0,0,100,0.7);
 }

 .border-blue{
   border-color: #002766;
 }

 .shader-green{
   background-color: rgba(0,80,90,0.7);
 }

 .border-green{
   border-color: #08979c;
 }

 .shader-purple{
   background-color: rgba(90,40,150,0.7);
 }


 .border-purple{
   border-color: #722ed1;
 }

 .shader-pink{
   background-color: rgba(160,0,90,0.7);
 }


 .border-pink{
   border-color: #c41d7f;
 }