@import '~antd/dist/antd.css';

.discription-wrapper {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 1;
  }
  
  .sub-title {
    display: block;
    color: #646568;
    font-size: 16px;
    line-height: 0.6;
    margin-bottom: 25px;
  }
  

  .discription-wrapper-p {
    display: inline-block;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.6);
  }