@import '~antd/dist/antd.css';

.discription-wrapper {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #003a8c;
    font-size: 16px;
    line-height: 1;
  }

  .discription-wrapper-p {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
    color: #262626
  }
  
  .sub-title {
    display: block;
    line-height: 0.6;
    margin-bottom: 25px;
    margin-top: 15px;
    color:#f0f0f0;
  }


  .discription-h3 {
    color:#d9d9d9;
    display: inline-block;
    margin-right: 8px;
  }