@import '~antd/dist/antd.css';
.sub-title {
  display: block;
  line-height: 0.6;
  margin-bottom: 25px;
  margin-top: 15px;
  color:#f0f0f0;
}
.discription-h3 {
  color:#d9d9d9;
  display: inline-block;
  margin-right: 8px;
}

.discription {
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 14px;
  color: #434343;
  line-height: 10px;
}

.div-small{
  background-color: #d9d9d9;
  padding-top: 12px;
  padding-left:20px;
}

.shader-small{
  text-align: center;
}

.shader-small >h1{
  font-size: 16pt;
  font-weight: bold;
  line-height: 32pt;
  color:white;
}

.shader-small1{
  height:110px;
  background-color: #0050b3;
  padding-top: 34px;
}

.div-small1{
  height:110px;
}

.shader-small2{
  height:110px;
  background-color: #006d75;
  padding-top: 34px;
}

.div-small2{
  height:110px;
}



.shader-small3{
  height:180px;
  background-color: #391085;
  padding-top: 60px;
}

.div-small3{
  height:180px;
}

.shader-small4{
  height:180px;
  background-color: #9e1068;
  padding-top: 60px;
}

.div-small4{
  height:180px;
  padding-top: 20px;
}


.label-blue {
  color: #0050b3;
  margin-right: 5px;
}

.label-green {
  color: #006d75;
  margin-right: 5px;
}

.label-purple {
  color: #391085;
  margin-right: 5px;
}

.label-pink {
  color: #9e1068;
  margin-right: 5px;
}